<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Liga de fútbol </title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="Contenedor">
        <header>
            <h1> Liga de fútbol profesional</h1>
        </header>

        <nav class="menu">
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="fixture.html">Fixture y Resultados</a></li>
                <li><a href="equipos.html">Equipos</a></li>
            </ul>
        </nav>

        <section id="Contenido">
            <h2>Noticias</h2>

            <table>
                <tr>
                    <td>
                        <article>
                            <img src="img/fifa cuarentena.jpg">
                            <time>10/04/2020</time>
                            <blockquote>
                                <p>La fifa decidió suspender todos los partido de
                                    las ligas del mundo por la cuarentena.</p>
                            </blockquote>
                        </article>
                    </td>

                    <td>
                        <article>
                            <img src="img/champions league.jpg">
                            <time>25/04/2020</time>
                            <blockquote>
                                <p>La UEFA esta planteando re programar los partidos en face
                                    eliminatoria para septiembre para terminar la competición con un campeón.</p>
                            </blockquote>
                        </article>

                    </td>

                    <td>
                        <article>
                            <img src="img/Bundesliga-logo.jpg">
                            <time>4/05/2020</time>
                            <blockquote>
                                <p>La Bundesliga recibió la aprobación del gobierno alemán y retornará la competición
                                    el 16 de mayo.</p>
                            </blockquote>
                        </article>

                    </td>
                </tr>
            </table>


        </section>

        <aside>
            <h2>Auspiciantes</h2>

            <img class="img1" src="img/portada-cuando-saldra-fifa-21.jpg">
            <img class="img2" src="img/puma marca.jpg">
            <img class="img3" src="img/Santander-Rojo.jpg">
            <img class="img4" src="img/yamaha.jpg">


        </aside>

        <footer>
            <h2>Avda. Pedro Ortiz de Zarate N° 455 - Tel 388 4789555</h2>
        </footer>

    </div>
</body>

</html>